ul {
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
  text-decoration-style:unset;
  text-decoration-thickness: unset;
  cursor: pointer;
}

a:hover{
  opacity: 0.8;
}

.layout {
  display: flex;
}

.sidebar {
  display: block;
  position:sticky;
  height: 100vw;
  margin-right: 1rem;
  background-color: rgb(41, 41, 41);
  padding: 1rem;
}

.title-img {
  max-width: 6rem;
  margin-right: 1rem;
}

.title {
  font-size: 2rem;
}

.title-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.sidebar-nav-link {
  display: flex;
  align-items: center;
  margin: 3rem 0;
  padding: 0 3rem;

}

.sidebar-nav-link img {
  max-width: 3rem;
  margin-right: 1rem;
}

