.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.exercise-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}


.content-wrapper {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex: 1;
  min-height: 0;
}

.main-content-wrapper {
  flex: 1;
  min-width: 0;
}

.selected-exercise-wrapper {
  display: flex;
  background-color: rgb(41, 41, 41);
  padding: 3rem;
  border-radius: 1rem;
}

.selected-exercise-name {
  font-size: 2.3rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.selected-exercise-primary-muscle,
.selected-exercise-secondary-muscle {
  font-size: 1.9rem;
}

.selected-exercise-image-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

.selected-exercise-image {
  max-width: 50rem;
  border-radius: 1rem;
}

.selected-exercise-info {
  margin-right: 6rem;
  line-height: 3rem;
}

.filter-search-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  background-color: rgb(75, 75, 75);
  border-radius: 1rem;
}

.search-icon {
  margin-left: 1rem;
  max-height: 3rem;
  max-width: 3rem;
}

.search-exercise-input {
  background-color: rgb(75, 75, 75);
  color: white;
  font-size: 2rem;
  border: none;
  padding: 1rem 2rem;
  margin-right: 3rem;
}

.search-exercise-input:focus {
  outline: none;
  box-shadow: none;
}

.search-exercise-input::placeholder {
  color: rgb(219, 219, 219);
}


.filter-wrapper {
  display: flex;
  flex-direction: column;
  width: auto;
  border-radius: 1rem;
  padding: 2rem;
  background-color: rgb(41, 41, 41);
  margin-bottom: 1.5rem;
}

.filter-upper-lower-wrapper {
  margin-bottom: 2rem;
}


.filter-exercises-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 0;
}


.filter-input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: auto;
  border-radius: 1rem;
  background-color: rgb(41, 41, 41);
  margin-bottom: 1.5rem;
  padding: 1rem 2rem;
}

.exercise-category-select,
.equipment-category-select {
  background-color: rgb(75, 75, 75);
  color: white;
  font-size: 2rem;
  border: none;
  border-radius: 1rem;
  padding: 1rem 2rem;
  cursor: pointer;
  width: 100%;
  margin-bottom: 1rem;
}

.upper-body-exercises {
  margin-right: 1rem;
}

.upper-body-exercises,
.lower-body-exercises {
  background-color: rgb(75, 75, 75);
  color: white;
  font-size: 2rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  padding: 1rem 2rem;
}

.exercise-list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: auto;
  border-radius: 1rem;
  padding: 2rem;
  background-color: rgb(41, 41, 41);
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  margin-bottom: 2rem;
  scrollbar-width: 1.5rem;
  scrollbar-color: #6f6f6f #222;
}


.clicked-filter-button {
  background-color: rgb(59, 130, 246);
  color: white;
  font-size: 2rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  padding: 1rem 2rem;
}