.exercise-item-wrapper {
  display: flex;
  align-items: center;
  background-color: rgb(52, 52, 52);
  border: 1px solid rgba(255, 255, 255, 0.06);
  padding: 1.5rem;
  cursor: pointer;
  color: white;
  border-radius: 1rem;
  transition: 0.3s ease;
}

.exercise-item-wrapper:hover {
  background-color: rgb(62, 62, 62);
}

.exercise-item-wrapper:active {
  background-color: rgb(72, 72, 72);
}


.exercise-item-img {
  margin-right: 2rem;
  max-height: 11rem;
}

.exercise-item-name {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.8rem;
  font-weight: 600;
}
