.workout-history-item-wrapper {
  display: flex;
  flex-direction: column;
}


.workout-history-item-button {
  display: flex;
  justify-content: space-between;
  background-color: rgb(35, 35, 35);
  text-align: left;
  padding: 1.5rem 2.5rem;
  border-radius: 1rem;
  font-size: 2.5rem;
  margin-top: 1rem;
  color: white;
  border: none;
  cursor:pointer;
  width: 100%;
}

.workout-history-item-button:hover {
  opacity: 0.8;
}

.workout-history-item-button:active {
  opacity: 0.7;
}

.workout-history-item-names {
  display: flex;
  align-items: center;
}

.verticalLine {
  width: 1px;
  height: 40px;
  border: none;
  margin: 0 12px;
}

.workout-history-item-training-split-text,
.workout-history-item-workout-day-text,
.workout-history-item-day-text {
  margin: 0 2rem;
}

.arrow-down-icon {
  max-width: 4rem;
  
}

.arrow-up-icon {
  transform: rotate(180deg);
  max-width: 4rem;
}

.selected-workout-history-wrapper {
  background-color: rgb(30, 30, 30);
  width: 97%;
  align-self: center;
  border-radius: 1rem;
  padding: 1rem;
}

.selected-workout-history-exercise-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(35, 35, 35);
  padding: 2rem 3rem;
  border-radius: 1rem;
  margin-top: 1rem;
}