.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}



.content-wrapper{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.add-training-wrapper  {
  display: flex;
  justify-content: center;
  width: auto;
  border-radius: 1rem;
  padding: 2rem;
  background-color: rgb(41, 41, 41);
}

.content-main {
  display: flex;
  flex-direction: column;
  width: auto;
  border-radius: 1rem;
  padding: 2rem;
  background-color: rgb(41, 41, 41);
}

hr {
  background-color: white;
  width: 100%;
  margin: 4rem 0;
}

.all-training-splits {
  text-align: start;
  font-size: 2.7rem;
  margin: 0;
}


.add-training-button {
  font-weight: 600;
  font-size: 3rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.add-training-button:hover {
  opacity: 0.9;
}

.add-training-button:active {
  opacity: 0.8;
}

.training-split-name-wrapper {
  display: flex;
  justify-content: space-between;
}

.add-training-split-dialog {
   background-color: rgb(29, 29, 29);
   border: none;
   border-radius: 1rem;
   padding: 3rem;
   max-height: 70rem;
}

.training-split-name-input {
  font-size: 2rem;
  padding: 0.7rem 2rem;
  border-radius: 1rem;
  border: none;
  margin-right: 2rem;
}

.add-workout-button {
  font-size: 2rem;
  padding: 0.7rem 2rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}

.add-workout-button:hover {
  opacity: 0.9
}

.add-workout-button:active {
  opacity: 0.7
}

.workout-day-input {
  font-size: 1.5rem;
  border-radius: 1rem;
  padding: 0.7rem 1.7rem;
  border: none;
  margin-right: 1rem;
}

.close-dialog-button {
  background-color: rgb(29, 29, 29);
  border: none;
  cursor: pointer;
  margin-left: 10rem;
}

.close-dialog-img {
  max-width: 2.5rem;
}

.close-dialog-img:hover {
  opacity: 0.8;
}

.workout-day-button,
.delete-workout-day-button,
.add-exercise-button {
  background-color: rgb(29, 29, 29);
  border: none;
  cursor: pointer;
}

.workout-day-button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.workout-day-button:hover,
.delete-workout-day-button:hover {
  opacity: 0.8;
}

.workout-day-button:active,
.delete-workout-day-button:active {
  opacity: 0.7;
}

.workout-day-wrapper{
  display: flex;
  margin-bottom: 2rem;
}

.checkmark-icon,
.delete-workout-day-icon,
.edit-icon,
.add-exercise-icon{
  max-width: 2.5rem;
}


.workout-day-name-text {
  font-size: 1.5rem;
  background-color: white;
  align-self: center;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.search-exercise-wrapper{
  max-width: 27.6rem;
}
.search-exercise-input {
  max-width: 24rem;
  padding: 0.7rem 1.8rem;
  border: none;
  border-radius: 1rem;
  width: 100%;
}

.search-exercise-list-wrapper {
  background-color: rgb(37, 37, 37);
  max-height: 18rem;
  margin-top: 0.5rem;
  border-radius: 1.2rem;
  overflow-y: auto;
}

.search-exercise-list-wrapper::-webkit-scrollbar {
  width: 0.5rem;            /* makes it smaller */
}

.search-exercise-list-wrapper::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

.search-exercise-list-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

.search-exercise-list {
  margin-bottom: 0.3rem;
  background-color: rgb(37, 37, 37);
  padding: 0.7rem 1.8rem;
  display: flex;
}

.search-exercise-icon {
  max-width: 4rem;
}
.search-exercise-list-button {
  background-color: rgb(37, 37, 37);
  color: white;
  border: none;
  padding: 0.7rem 1.8rem;
  width: 100%;
  cursor: pointer;
}

.search-exercise-list:hover {
  background-color: rgb(46, 46, 46);
}
.search-exercise-list:hover .search-exercise-list-button {
  background-color: rgb(46, 46, 46);
}