.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

h1 {
  font-size: 3rem;
}

.content-wrapper{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.add-training-wrapper  {
  border-radius: 1rem;
  padding: 2rem;
  background-color: rgb(41, 41, 41);
  max-height: fit-content;
}

.content-main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  border-radius: 1rem;
  padding: 2rem;
  background-color: rgb(41, 41, 41);
}

hr {
  background-color: white;
  width: 100%;
  margin: 4rem 0;
}

.add-training-button {
  background-color: rgb(75, 75, 75);
  color: white;
  font-weight: 600;
  font-size: 2.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.add-training-button:hover {
  opacity: 0.8;
}

.add-training-button:active {
  opacity: 0.7;
}

.training-split-name-wrapper {
  display: flex;
  justify-content: space-between;
}

.add-training-split-dialog {
   background-color: rgb(29, 29, 29);
   border: none;
   border-radius: 1rem;
   padding: 3rem;
   max-height: 70rem;
}

.training-split-name-input {
  font-size: 2.5rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: none;
  margin-right: 2rem;
}


.add-workout-button {
  background-color: rgb(75, 75, 75);
  color: white;
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}

.add-workout-button:hover {
  opacity: 0.9
}

.add-workout-button:active {
  opacity: 0.7
}

.workout-day-input {
  align-self: center;
  font-size: 2.7rem;
  border-radius: 1rem;
  padding: 1rem 2rem;
  border: none;
  margin-right: 1rem;
  max-width: 17rem;
}

.workout-day-input::placeholder {
  font-size: 2rem;
}


.close-dialog-button {
  background-color: rgb(29, 29, 29);
  border: none;
  cursor: pointer;
  margin-left: 10rem;
}



.close-dialog-img {
  max-width: 2.5rem;
}

.add-exercise-plus-symbol {
  font-size: 3rem;
  margin-right: 1rem;
}

.add-exercise-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(72, 176, 44);
  border: none;
  cursor: pointer;
  color: white;
  max-width: 33rem;
  margin-top: 1.5rem;
  border-radius: 1rem;
  font-size: 1.7rem;
}

.delete-workout-day-button {
  background-color: rgb(29, 29, 29);
  border: none;
  cursor: pointer;
}



.delete-workout-day-button:hover,
.add-exercise-button:hover,
.close-dialog-button:hover {
  opacity: 0.8;
}

.delete-workout-day-button:active,
.add-exercise-button:active,
.close-dialog-button:active {
  opacity: 0.7;
}

.workout-day-wrapper {
  margin-bottom: 5rem;
}

.workout-day-innerwrapper{
  display: flex;
  margin-top: 2rem;
}

.delete-workout-day-icon {
  max-width: 3rem;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
}

.confirm-button {
  background-color: rgb(75, 75, 75);
  color: white;
  font-size: 2rem;
  border: none;
  border-radius: 1rem;
  padding: 1rem 2rem;
  cursor: pointer;
  margin-top: 4rem;
  align-self: self-end;
}

.confirm-button:hover {
  opacity: 0.8;
}

.confirm-button:active {
  opacity: 0.7;
}