.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}



.content-wrapper{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.add-training-wrapper  {
  display: flex;
  justify-content: center;
  width: auto;
  border-radius: 1rem;
  padding: 2rem;
  background-color: rgb(41, 41, 41);
}

.content-main {
  display: flex;
  flex-direction: column;
  width: auto;
  border-radius: 1rem;
  padding: 2rem;
  background-color: rgb(41, 41, 41);
}

hr {
  background-color: white;
  width: 100%;
  margin: 4rem 0;
}

.all-training-splits {
  text-align: start;
  font-size: 2.7rem;
  margin: 0;
}


.add-training-button {
  font-weight: 600;
  font-size: 3rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.add-training-button:hover {
  opacity: 0.9;
}

.add-training-button:active {
  opacity: 0.8;
}

.training-split-name-wrapper {
  display: flex;
  justify-content: space-between;
}

.add-training-split-dialog {
   background-color: rgb(29, 29, 29);
   border: none;
   border-radius: 1rem;
   padding: 3rem;
   max-height: 70rem;
}

.training-split-name-input {
  font-size: 2.5rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: none;
  margin-right: 2rem;
}

.add-workout-button {
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}

.add-workout-button:hover {
  opacity: 0.9
}

.add-workout-button:active {
  opacity: 0.7
}

.workout-day-input {
  font-size: 2rem;
  border-radius: 1rem;
  padding: 0.7rem 1.7rem;
  border: none;
  margin-right: 1rem;
}

.close-dialog-button {
  background-color: rgb(29, 29, 29);
  border: none;
  cursor: pointer;
  margin-left: 10rem;
}

.close-dialog-img {
  max-width: 2.5rem;
}

.close-dialog-img:hover {
  opacity: 0.8;
}

.add-exercise-button {
  margin-left: 1rem;
  margin-top: 1rem;
}

.workout-day-button,
.delete-workout-day-button,
.add-exercise-button,
.search-exercise-delete-button {
  background-color: rgb(29, 29, 29);
  border: none;
  cursor: pointer;
}

.workout-day-button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.workout-day-button:hover,
.delete-workout-day-button:hover,
.add-exercise-button:hover {
  opacity: 0.8;
}

.workout-day-button:active,
.delete-workout-day-button:active,
.add-exercise-button:active {
  opacity: 0.7;
}

.workout-day-wrapper{
  display: flex;
  margin-top: 2rem;
}

.checkmark-icon,
.delete-workout-day-icon,
.edit-icon,
.add-exercise-icon,
.search-exercise-delete-icon{
  max-width: 2.5rem;
}

.workout-day-name-text {
  background-color: rgb(37, 37, 37);
  font-size: 2.5rem;
  color:white;
  align-self: center;
  padding: 1.4rem 2.5rem;
  border-radius: 1rem;
  margin-right: 3rem;
}

.search-exercise-wrapper{
  margin-top: 2rem;
  max-width: 38.6rem;
}

.search-exercise-input-wrapper {
  display: flex;
  width: 100%;
}

.search-exercise-input {
  font-size: 2.2rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 1rem;
  width: 100%;
  margin-right: 1.8rem;
}

.search-exercise-list-wrapper {
  background-color: rgb(37, 37, 37);
  max-width: 33rem;
  max-height: 18rem;
  margin-top: 0.5rem;
  border-radius: 1.2rem;
  overflow-y: auto;
}

.search-exercise-list-wrapper::-webkit-scrollbar {
  width: 0.5rem;            /* makes it smaller */
}

.search-exercise-list-wrapper::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

.search-exercise-list-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

.search-exercise-list {
  margin-bottom: 0.3rem;
}

.search-exercise-list-button {
  display: flex;
  align-items: center;
  background-color: rgb(37, 37, 37);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 1rem 2rem;
  width: 100%;
  cursor: pointer;
}

.search-exercise-icon {
  max-width: 6rem;
}

.search-exercise-name {
  margin-left: auto;
  margin-right: auto;
}

.search-exercise-list-button:hover {
  background-color: rgb(46, 46, 46);
}

.search-exercise-list-button:active {
  opacity: 0.8;
}