.training-split-wrapper {
  display: flex;
  width: auto;
  justify-content: space-between;
  padding: 2rem;
  margin-bottom: 1rem;
  background-color: rgb(52, 52, 52);
  border: 1px solid rgba(255, 255, 255, 0.06);
  border-radius: 1rem;
}


.button-wrapper {
  align-self: center;
}

.modify-button {
  background-color: rgb(70, 70, 70);
  border: 1px solid rgba(255, 255, 255, 0.06);
  color: white;
  font-size: 2rem;
  padding: 1rem 2rem;
  margin-right: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.modify-button:hover {
  background-color: rgb(75, 75, 75);
}

.modify-button:hover {
  background-color: rgb(85, 85, 85);
}


.delete-button {
  background-color: rgb(185, 60, 60);
  color: white;
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: none;
  transition: 0.2s ease;
  cursor: pointer;
}

.delete-button:hover {
  background-color: rgb(205, 75, 75);
}

.delete-button:active {
  background-color: rgb(160, 48, 48);
}