.training-split-wrapper {
  display: flex;
  width: auto;
  justify-content: space-between;
  padding: 2rem;
  margin-bottom: 1rem;
  background-color: rgb(36, 36, 36);
  border-radius: 1rem;
}


.button-wrapper {
  align-self: center;
}

.modify-button {
  font-size: 2rem;
  padding: 0.7rem 2rem;
  margin-right: 0.5rem;
  border-radius: 1rem;
}

.delete-button {
  padding: 0.7rem 2rem;
  border-radius: 1rem;
  font-size: 2rem;
}