.content-wrapper{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.start-workout-wrapper, .content-main  {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  border-radius: 1rem;
  padding: 2rem;
  background-color: rgb(41, 41, 41);
}


.start-workout-button {
  background-color: rgb(75, 75, 75);
  color: white;
  font-weight: 600;
  font-size: 3rem;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.start-workout-button:hover {
  opacity: 0.9;
}

.start-workout-button:active {
  opacity: 0.8;
}

.form-wrapper {
  align-self: self-start;
  background-color: rgb(37, 37, 37);
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.training-split-text {
  font-size: 2.2rem;
  margin-right: 2rem;
}

.select-input {
  background-color: rgb(29, 29, 29);
  color: white;
  font-size: 1.8rem;
  padding: 1rem;
  border-radius: 1rem;
}
