ul {
  list-style: none; 
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
  text-decoration-style:unset;
  text-decoration-thickness: unset;
  cursor: pointer;
}

a:hover{
  opacity: 0.8;
}

.skip-link {
  position: absolute;
  left: -9999px;
  top: auto;
}

.skip-link:focus {
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
  background: #313131;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
  z-index: 1000;
}

.layout {
  display: flex;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  margin: 0 2rem;
}



.sidebar {
  display: block;
  flex-direction: column;
  margin-right: 1rem;
  background-color: rgb(41, 41, 41);
  padding: 2rem;
}

.title-img {
  max-width: 6rem;
  margin-right: 1rem;
}

.title {
  font-size: 3rem;
}

.title-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.sidebar-nav-link {
  display: flex;
  align-items: center;
  margin: 3rem 0;
  padding: 0 3rem;

}

.sidebar-nav-link img {
  max-width: 3rem;
  margin-right: 1rem;
}

