.body-weight-item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(41, 41, 41);
  border: 1px solid rgb(255, 255, 255, 0.06);
  padding: clamp(1.2rem, 2vw, 1.8rem) clamp(1.2rem, 2vw, 2.2rem);
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  gap: 1rem;
}

.body-weight-data-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  min-width: 20rem;
}


.body-weight-date {
  background-color: rgb(55, 55, 55);
  border: 1px solid rgb(255, 255, 255, 0.06);
  padding: clamp(0.7rem, 2.5vw, 1rem) clamp(1.5rem, 2.5vw, 2rem);
  border-radius: 1rem;
  font-size: clamp(1.4rem, 2.5vw, 2rem);
}


.body-weight {
  background-color: rgb(55, 55, 55);
  border: 1px solid rgb(255, 255, 255, 0.06);
  padding: clamp(0.7rem, 2.5vw, 1rem) clamp(1.5rem, 2.5vw, 2rem);
  border-radius: 1rem;
  font-size: clamp(1.4rem, 2.5vw, 2rem);
}

.body-weight-buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.body-weight-edit-button {
  background-color: rgb(70, 70, 70);
  border: 1px solid rgb(255, 255, 255, 0.06);
  color: white;
  border: none;
  border-radius: 1rem;
  padding: clamp(0.7rem, 2.5vw, 1rem) clamp(1.5rem, 2.5vw, 2rem);
  font-size: clamp(1.3rem, 3vw, 1.5rem);
  margin-left: 1rem;
  transition: 0.2s ease;
  cursor: pointer;
}

.body-weight-edit-button:hover {
  background-color: rgb(75, 75, 75);

}

.body-weight-edit-button:active {
  background-color: rgb(85, 85, 85);

}

.body-weight-delete-button {
  transition: 0.2s ease;
  color: white;
  border: none;
  border-radius: 1rem;
  padding: clamp(0.7rem, 2.5vw, 1rem) clamp(1.5rem, 2.5vw, 2rem);
  font-size: clamp(1.3rem, 3vw, 1.5rem);
  margin-left: 1rem;
  transition: 0.2s ease;
  cursor: pointer;
  background-color: rgb(185, 60, 60);
}

.body-weight-delete-button:hover {
  background-color: rgb(205, 75, 75);

}

.body-weight-delete-button:active {
  background-color: rgb(160, 48, 48);

}


.body-weight-save-button {
  background-color: rgb(39, 134, 56);
  color: white;
  border: none;
  border-radius: 1rem;
  padding: clamp(0.7rem, 2.5vw, 1rem) clamp(1.5rem, 2.5vw, 2rem);
  font-size: clamp(1.3rem, 3vw, 1.5rem);
  margin-left: 1rem;
  transition: 0.2s ease;
  cursor: pointer;
}

.body-weight-save-button:hover {
  background-color: rgb(52, 153, 71);
}

.body-weight-save-button:active {
  background-color: rgb(30, 112, 45);
}

.edit-body-weight {
  font-size: clamp(1.4rem, 2.5vw, 2rem);
  padding: clamp(0.7rem, 2.5vw, 1rem) clamp(1.5rem, 2.5vw, 2rem);
  border-radius: 1rem;
  margin-left: 0.5rem;
  max-width: clamp(5rem, 2vw, 12rem);
  border: none;
}

.edit-body-weight::-webkit-outer-spin-button,
.edit-body-weight::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.body-weight {
  max-width: 20rem;
  box-sizing: border-box;
}