.body-weight-item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(31, 31, 31);
  font-size: 2.7rem;
  padding: 2rem 3rem;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}

.body-weight-data-wrapper {
  display: flex;
  align-items: center;
}


.body-weight-date {
  background-color: rgb(75, 75, 75);
  padding: 1rem 2rem;
  border-radius: 1rem;
  margin-right: 0.5rem;
}


.body-weight {
  background-color: rgb(75, 75, 75);
  padding: 1rem 2rem;
  border-radius: 1rem;
  margin-left: 0.5rem;
}

.body-weight-edit-button,
.body-weight-delete-button {
  background-color: rgb(75, 75, 75);
  color: white;
  border: none;
  border-radius: 1rem;
  padding: 1rem 2rem;
  font-size: 2rem;
  margin-left: 1rem;
  cursor: pointer;
}
.body-weight-delete-button {
  background-color: rgb(201, 59, 59);
}

.body-weight-edit-button:hover,
.body-weight-delete-button:hover {
  opacity: 0.8
}

.body-weight-edit-button:active,
.body-weight-delete-button:active {
  opacity: 0.8
}